/* Fixed sidenav, full height */
.sidenav {
  margin-top: 70px;
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #290044;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 10px;
}

.logo {
  left: 0;
  position: fixed;
  height: 50px;
  width: 300px;
  background-color: rgb(233, 192, 11);
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #0084ff;
  padding: 5px;
  background: none;
  width: 280px;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  background-color: yellow;
}

.sidenav a{
  color: black;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: whitesmoke;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.fa-caret-right {
  float: left;
  padding-right: 8px;
}

.fas {
  margin-right: 10px;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #ffffff;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar links */
.navbar .fas {
  margin-left: 10px;
  text-align: center;
  padding: 12px;
  color: rgb(37, 35, 35);
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #ffbb00;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 800px) {
  .navbar .fas {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .navbar input[type=text] {
      float: none;
      display: block;
      width: 80%;
      margin: 10px auto;
  }
}

.navbar input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: white;
  margin-left: 50px;
  width: 320px;
}

.navbar p {
  color: rgb(63, 60, 60);
  float: left;
  padding: px;
  font-size: 20px;
}

.language-dropdown {
  border-right: 2px solid rgb(185, 184, 184);
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #290044;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
}

.world-icon {
  margin-right: 5px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navbar .fas, .navbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
  }

  .topnav input[type=text] {
      border: 1px solid #ccc;
  }
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  border-left: 2px solid rgb(185, 184, 184);
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
}

.user-icon {
  margin-right: 5px;
  font-family: a;
}
